/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */

body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
background-color: #fff;}

h1 {
    font-weight: 700;
        font-size: 56px;
        /* line-height: 60px; */
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;       
}

h2 {
    font-weight: 700;
        font-size: 36px;
        /* line-height: 40px; */
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
       }
       
h3 {
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

h4 {
    font-weight: 500;
        font-size: 20px;    
        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
}

p { font-weight: 400;
        font-size: 16px;
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
} 

a {text-decoration: none;
color: #4D5AE5;}

button {cursor: pointer;}
button:hover, button:focus {
    background: #404bbf;
}

.hidden-element {
    visibility: hidden
} 

.hero-section {
background: #2e2f42;
}
.our-team-section {
    background: #f4f4fd;
}

.our-team-section-photos {
    background: #fff;
}

.order-sevice-button {
        background: #4d5ae5;
        font-weight: 500;
            font-size: 16px;
            /* line-height: 24px; */
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
}


ul, ol {
    list-style-type: none
}

.main-logo-header {
font-family: "Raleway", sans-serif;    
font-size: 18px;
font-weight: 700;
letter-spacing: 0.03em;
line-height: 1.16667;
text-transform: uppercase;
}

.main-logo-studio-header {
color: #2E2F42;
}

.page-navigation {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    }

.page-navigation:hover, .page-navigation:focus {
       color: #404BBF; }

.page-navigation-studio:hover,
.page-navigation-studio:focus {
    color: #4d5ae5;
} 
.page-navigation-studio:active {
    text-decoration: underline;
}

.contacts {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
        letter-spacing: 0.02em;
        font-style: normal;
}

.contacts:hover, .contacts:focus {
    color: #404BBF;
}

.p-team-cards {
    text-align: center;
}
.footer {
        background: #2e2f42;
        color: #f4f4fd;
}

.main-logo-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.16667;
    text-transform: uppercase;
}
.main-logo-studio-footer {
    color: #f4f4fd;
}
.footer-p {
    color: inherit;
}