/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */

body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
background-color: #fff;}

/* h1 */
.main-header {
    font-weight: 700;
        font-size: 56px;
        /* line-height: 60px; */
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;       
}
/* h2 */
.team-section-header {
        font-weight: 700;
        font-size: 36px;
        /* line-height: 40px; */
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
    }
/* h2 */
.portfolio-section-header {
        font-weight: 700;
        font-size: 36px;
        /* line-height: 40px; */
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
    }
 /* h3 */
.agenda-card-header {
        font-weight: 500;
        font-size: 20px;
        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
    }
/* h3 */
.team-member-name {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    }

.portfolio-cards-header {
        text-align: left;
        font-weight: 500;
        font-size: 20px;
        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

p { font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-cards-text {
        font-weight: 400;
        font-size: 16px;
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-align: left;
    }
.agenda-cards-text {
        font-weight: 400;
        font-size: 16px;
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

.order-sevice-button {cursor: pointer;}

.order-sevice-button:hover,
.order-sevice-button:focus {
    background: #404bbf;
}

.hidden-element {
    visibility: hidden
} 

.hero-section {
background: #2e2f42;
}
.our-team-section {
    background: #f4f4fd;
}

.our-team-section-photos {
    background: #fff;
}

.order-sevice-button {
        background: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
}


ul, ol {
    list-style-type: none
}

.main-logo-header {
font-family: "Raleway", sans-serif;    
font-size: 18px;
font-weight: 700;
letter-spacing: 0.03em;
line-height: 1.16667;
text-transform: uppercase;
text-decoration: none;
    color: #4D5AE5
}

.main-logo-studio-header {
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.03em;
        line-height: 1.16667;
        text-transform: uppercase;
        text-decoration: none;
        color: #2E2F42;
}

.page-navigation, .page-navigation-studio {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    line-height: 1.5;
    }

.page-navigation:hover, .page-navigation:focus {
       color: #404BBF; }

.page-navigation-studio:hover,
.page-navigation-studio:focus {
    color: #404BBF;
} 
.page-navigation-studio:active {
    text-decoration: underline;
}

.contacts {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
        letter-spacing: 0.02em;
        font-style: normal;
        text-decoration: none;
}

.contacts:hover, .contacts:focus {
    color: #404BBF;
}

.team-cards-text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
        /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
        background: #2e2f42;
        color: #f4f4fd;
}

.main-logo-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.16667;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5
}
.main-logo-studio-footer {
    color: #f4f4fd;
    text-decoration: none;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
        }
